.title-main-content{
    margin-bottom: 10px;
}
.clinic-card {
    display: flex;
    flex-direction: column;
    min-height: 33vh;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 10px;;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-radius: 0.5rem;
    padding: 10px;
}
.clinic-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
}
.clinic-card-left, .clinic-card-right {
    flex: 1;
}
.clinic-card-left {
    margin-right: 15px;
}
.clinic-image-container {
    position: relative;
    text-align: center;
}
.clinic-image img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.show-more-link {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #337ab7;
}
.clinic-title {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    color: #003366;
}
.clinic-summary {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}
.clinic-location {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.location-icon {
    width: 14px;
    height: 14px;
    fill: #555;
}
.location-text {
    font-size: 14px;
    color: #555;
    margin-left: 5px;
}
.clinic-card-footer {
    padding-top: 10px;
    border-top: 1px solid #eee;
}
.booking-section {
    margin-bottom: 20px;
}
.booking-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking-date {
    font-weight: bold;
    color: #337ab7;
    font-size: 14px;
}
.arrow-icon {
    fill: #337ab7;
}
.booking-times {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.booking-time-button {
    background-color: #eeeeee;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    text-align: center;
}
.booking-time-button:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.booking-action {
    font-size: 12px;
    color: #333;
    margin-top: 10px;
}
.clinic-address, .clinic-price {
    margin-top: 20px;
}
.clinic-price{
    display: flex;
    justify-content: space-between; /* Đảm bảo các phần tử nằm cách đều */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
}
.address-title, .price-header {
    font-weight: bold;
    font-size: 14px;
}
.address-name, .address-detail {
    font-size: 12px;
    color: #555;
}
.price-number {
    color: #d9534f;
}
.price-details-button {
    padding: 8px 16px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.price-details-button:hover {
    background-color: #286090;
}
