/* .main-content{
    width: auto;
    height: 2890.82px;
    background-color: rgb(155, 155, 155) ;
}
.col-md-9{
    padding: 0px 15px;
    background: rgb(154, 215, 215);
}
.col-md-3{
    background: rgba(127, 255, 212, 0.681);
}

.link{
    background-color: chocolate;
    height: 244.8px;
}
.footer{
    width: auto;
    height: 313.56px;
    background: blanchedalmond;
} */

/* Thiết lập kích thước và hình dạng cho Card */
.card-custom {
  width: 270px; /* Chiều rộng cố định */
  height: 235px; /* Chiều cao cố định */
  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  
  border-radius: 8px; /* Làm mềm các góc */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bóng nhẹ cho card */
}

/* Đảm bảo ảnh vừa vặn trong card với kích thước đã đặt */
.img-custom {
  width: 100%;
  height: 117px; /* Đặt chiều cao cố định cho ảnh để vừa với tỷ lệ */
  object-fit: cover; /* Để ảnh lấp đầy khung mà không bị méo */
 
}

/* Điều chỉnh nội dung bên trong Card */
.card-body {
  padding: 10px 0; /* Giảm padding */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Căn giữa nội dung */
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  flex: 1; /* Chiếm toàn bộ không gian còn lại */
  
}

/* Căn chỉnh bố cục */
.col-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Bố cục container */
.container {
  padding: 0 15px;
  width: auto;
}


/* Thiết lập cho hàng */
.row {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
